
#map {
    height: 80%;
}

html, body {
    height: 100%;
    margin: 10;
    padding: 0;
}

h6 {
    text-align: center;
    font-size: 14px;
    color: #6d7273;
}

button {
    margin-left: 12px;
    margin-top: 12px;
}