<!-- source: https://developers.google.com/maps/documentation/javascript/earthquakes#heatmaps -->

<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var coordinatesData = '{{ data|tojson }}';
      console.log(coordinatesData);

      var coordinateStr = coordinatesData.substring(1, coordinatesData.length - 1);

      const coordinatesObj = JSON.parse(coordinateStr);
      console.log(coordinatesObj.array);
      
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: {lat: -33.865427, lng: 151.196123},
          mapTypeId: 'roadmap'
        });

        eqfeed_callback(coordinatesObj.array);
      }

      function eqfeed_callback(results) {
        var heatmapData = [];
        console.log(results)

        for (var i = 0; i < results.length; i++) {
          
          var latLng = new google.maps.LatLng(results[i].long, results[i].lat);
          console.log(results[i]);
          
          heatmapData.push(latLng);
        }

        console.log(heatmapData);
        var heatmap = new google.maps.visualization.HeatmapLayer({
          data: heatmapData,
          dissipating: false,
          map: map
        });
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCS1pv3UNX5dWNp5o2bJm6q2j3iU33hbYQ&libraries=visualization&callback=initMap">
    </script>
  </body>
</html>
