<!-- source: https://developers.google.com/maps/documentation/javascript/earthquakes#heatmaps -->

<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var coordinatesData = '{{ data|tojson }}';

      var coordinateStr = coordinatesData.substring(1, coordinatesData.length - 1);

      const coordinatesObj = JSON.parse(coordinateStr);
      
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: {lat: 44.9778, lng: -93.2650},
          mapTypeId: 'roadmap'
        });

        eqfeed_callback(coordinatesObj.array);
      }

      function eqfeed_callback(results) {
        var heatmapData = [];

        for (var i = 0; i < results.length; i++) {

          var weightedLatLng = {location: new google.maps.LatLng(results[i].long, results[i].lat), weight: results[i].Sentiment};
          // var latLng = new google.maps.LatLng(results[i].long, results[i].lat);
          
          heatmapData.push(weightedLatLng);
        }

        var heatmap = new google.maps.visualization.HeatmapLayer({
          data: heatmapData,
          dissipating: false,
          map: map,
          radius: 2,
          opacity: .7
        });
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdPDNaS5y7umRBPlZanTIR3cMr0WuCKPg&libraries=visualization&callback=initMap">
    </script>
  </body>
</html>
